@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

main {
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.6;
}

* {
  box-sizing: inherit;
}

ul,
ol {
  // doesn't do RTL, it break a sidebar
  padding-left: 15px;
  margin-bottom: 0;
}

a {
  color: $color-blue;
  transition: all 0.3s;

  &:hover {
    text-decoration: none;
    color: $color-blue-hover;
  }
}


th {
  padding: 1rem;
  text-align: left;
  letter-spacing: 0px;
  color: #a3abb7;
  opacity: 1;
  font-size: 13px;
  font-style: normal;
  font-family:  sans-serif;
}

td {
  padding: 1rem;
}

table {
  width: 100%;
}

.container__wrap {
  width: 100%;
}

.wrapper {
  margin-top: -18.5px;
}
