@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

.dashboard_header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;

  &_title {
    text-align: left;
    font-size: 15px;
    letter-spacing: 0px;
    color: #04014e;
    font-family: "Rubik", sans-serif;
  }
}

.dashboard__card-widget {
  width: 200px;
  height: 150px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 46px #0000000f;
  opacity: 1;
}

.bashboard_datas {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  margin: 1rem;
}

.dashboard__card-widget {
  width: 200px;
  height: 150px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 46px #0000000f;
  opacity: 1;
}

.dropdown-toggle.btn.btn-secondary {
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #efefef;
  opacity: 1;
  font-size: 12px;
  color: #8d99ae;
}

.dropdown-zone {
  width: 100%;
  background: white;
  margin-top: -10.2px;
  justify-content: flex-end;
  display: flex;
  height: 50px;
  padding-top: 13px;
}

span.film_title-icon {
  background: #90e0ef;
  padding: 10px;
  border-radius: 8px;
  margin-right: 2px;
  opacity: 1;
}

.director-icon {
  margin-right: 5px;
  height: 25px;
  width: 25px;
}

.film_title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.dashboard__content {
  width: 100%;

  &-num {
    text-align: left;
    letter-spacing: 0px;
    color: #04014e;
    font-size: 12px;
  }

  &-text-num {
    color: #5fb960;
  }
}

.url {
  color: #178924;
}
